<div class="col s12 m12 l12">
    User
</div>
<div class="col s12 m12 l12">
    <md-accordion>
        <md-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
            <md-expansion-panel-header>
                Operations
            </md-expansion-panel-header>
            <md-list>
                <md-list-item>
                    <button md-button>1</button>
                </md-list-item>
                <md-list-item>
                    <button md-button>2</button>
                </md-list-item>
                <md-list-item>
                    <button md-button>3</button>
                </md-list-item>
            </md-list>
        </md-expansion-panel>
        <md-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
            <md-expansion-panel-header>
                Settings
            </md-expansion-panel-header>
            <md-list>
                <md-list-item>
                    <button md-button>1</button>
                </md-list-item>
                <md-list-item>
                    <button md-button>2</button>
                </md-list-item>
                <md-list-item>
                    <button md-button>3</button>
                </md-list-item>
            </md-list>
        </md-expansion-panel>
    </md-accordion>
</div>
