.container {
    display: flex;
    flex-direction: column;
}

.container>* {
    width: 100%;
}

.right-align {
    text-align: right;
}

input.right-align::-webkit-outer-spin-button,
input.right-align::-webkit-inner-spin-button {
    display: none;
}

h1 {
    color: #FFFFFF;
}
/*
 * Posicionamento do loading na tela
 */
.col {
    &.s8 {
        &.m8 {
            &.l8 {
                &.right-align {
                    padding-top: 2% !important;
                }
            }
        }
    }
}
