<mat-nav-list *ngIf="show">
    <div class="center">
        dados dos usuário
        <br>
    </div>
    <mat-divider></mat-divider>
    <a mat-list-item>Frequently contacted</a>
    <mat-divider></mat-divider>
    <a mat-list-item>Directory</a>
    <mat-divider></mat-divider>
    <a mat-list-item>Duplicates</a>
    <mat-divider></mat-divider>
    <a mat-list-item>Create label</a>
    <mat-divider></mat-divider>
    <a mat-list-item>Settings</a>
    <mat-divider></mat-divider>
    <a mat-list-item>Send feedback</a>
    <mat-divider></mat-divider>
    <a mat-list-item>Help</a>
    <mat-divider></mat-divider>
    <a mat-list-item>Go to the old version</a>
</mat-nav-list>
