<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened="true">
        <div class="scrolling-content">
            <div class="row">
                <div class="col s12 m12 l12">
                    User
                </div>
                <div class="col s12 m12 l12">
                    <mat-accordion>
                        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
                            <mat-expansion-panel-header>
                                Operations
                            </mat-expansion-panel-header>
                            <mat-list>
                                <mat-list-item>
                                    <button mat-button>1</button>
                                </mat-list-item>
                                <mat-list-item>
                                    <button mat-button>2</button>
                                </mat-list-item>
                                <mat-list-item>
                                    <button mat-button>3</button>
                                </mat-list-item>
                            </mat-list>
                        </mat-expansion-panel>
                        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
                            <mat-expansion-panel-header>
                                Settings
                            </mat-expansion-panel-header>
                            <mat-list>
                                <mat-list-item>
                                    <button mat-button>1</button>
                                </mat-list-item>
                                <mat-list-item>
                                    <button mat-button>2</button>
                                </mat-list-item>
                                <mat-list-item>
                                    <button mat-button>3</button>
                                </mat-list-item>
                            </mat-list>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
            <div class="row">
                <button mat-button (click)="sidenav.toggle()">Collapse
                    <<</button>
            </div>
        </div>
    </mat-sidenav>
</mat-sidenav-container>
