<mat-toolbar color="primary" class="z-depth-2">
    <div fxFlex>
        <span>SISTEMA</span>
        <span>
            <img src="./assets/images/ic_reorder_{{toggle_icon}}.svg" class="cursor pointer" matTooltip="Visualizar/Ocultar menu" (click)="toggleNavAction()">
        </span>
        <a mat-button href="#/">Home</a>
        <a mat-button class="white-text" href="#/r/user/profile">Usuário</a>
    </div>
    <div fxLayoutAlign="end">
        <a mat-button class="white-text" routerLink="/">Sair</a>
    </div>
</mat-toolbar>
