<mat-toolbar class="z-depth-2 white-text deep-purple lighten-2">
    <div fxFlex>
        <span class="material-icon">
            <button mat-icon-button class="cursor pointer" matTooltip="Menu" (click)="toggleNavAction()">
                <img src="./assets/images/ic_reorder_{{toggle_icon}}.svg">
            </button>
        </span>
        <span>{{'sistema'|ngCapitalize}}</span>
    </div>
    <div fxLayoutAlign="end">
        <a mat-icon-button href="#/">
            <img src="./assets/images/ic_home.svg" class="cursor pointer" matTooltip="Home">
        </a>
        <a mat-icon-button href="#/r/user/profile">
            <img src="./assets/images/ic_account_circle.svg" class="cursor pointer" matTooltip="Perfil">
        </a>
        <a mat-icon-button href="#/">
            <img src="./assets/images/ic_logout.svg" class="cursor pointer" matTooltip="Sair">
        </a>
    </div>
</mat-toolbar>
