<div class="row" id="nav-top">
    <mat-toolbar class="blue darken-3 z-depth-2">
        <app-top-nav></app-top-nav>
    </mat-toolbar>
</div>
<div class="row" id="main-container">
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sidenav mode="side" opened="true">
            <div class="scrolling-content">
                <div class="row">
                    <app-side-nav></app-side-nav>
                </div>
                <div class="row">
                    <button mat-button (click)="sidenav.toggle()">Collapse <<</button>
                </div>
            </div>
        </mat-sidenav>
        <div class="content">
            <button mat-button *ngIf="!sidenav.opened" (click)="sidenav.toggle()">Expand >></button>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-container>
</div>
<div class="row">
    <div class="col s12 m12 l12 center make-text-style">
        <p>Fabricio Nogueira</p>
        <p>{{current_year}}</p>
    </div>
</div>
