.signup-container {
    width: 90%;
    position: absolute;
    left: 5%;
    top: 0;
    .page-header {
        margin-bottom: 1.5rem;
    }
}

.section {
    p {
        margin: 1rem 0 1rem 0 !important;
    }
}

.signup-form-container {
    display: flex;
    flex-direction: column;
    &>* {
        width: 100%;
    }
}

.fixit {
    position: fixed;
    width: 36%;
    top: 0;
}

// .swal-button {
    .swal-button--confirm{
        padding: 7px 19px;
        border-radius: 2px;
        background-color: red;
        font-size: 12px;
        border: 1px solid red;
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
      }
// }
