.signup-container {
    width: 90%;
    position: absolute;
    left: 5%;
    top: 0;
    .page-header {
        margin-bottom: 1.5rem;
    }
}

.section {
    p {
        margin: 1rem 0 1rem 0 !important;
    }
}

.signup-form-container {
    display: flex;
    flex-direction: column;
    &>* {
        width: 100%;
    }
}

.fixit {
    position: fixed;
    width: 36%;
    top: 0;
}
