<div class="containerX">
    <div fxLayout="row wrap" class="colored box nopad">
        <div fxFlex="row">
            <app-nav-top (toggleNav)="toggleSideNav($event)"></app-nav-top>
        </div>
        <div fxFlex="row" fxLayoutAlign="space-evenly stretch">
            <div fxFlex="{{percent.sidenav}}%" fxHide.lt-sm="true" class="sidenav-content">
                <app-nav-side [show]="side_show"></app-nav-side>
            </div>
            <article fxFlex="{{percent.content}}%">
                <div class="content-container">
                    <div class="containerX">
                        <ng-content select="router-outlet"></ng-content>
                    </div>
                </div>
                <app-footer></app-footer> <!-- sticky-footer -->
            </article>
        </div>
    </div>
</div>
