<div class="row">
    <div class="col s12 m12 l12 valign-wrapper">
        <form #passwordResetForm="ngForm" autocomplete="off">
            <mat-card>
                <mat-card-content>
                    <div class="row">
                        <div class="col s12 m12 l12 center-align">
                            <div class="row">
                                <h5>Infome a nova senha de acesso</h5>
                                <div class="col s12 m12 l12 grey-text text-darken-1 italic">
                                    <small>Aten&ccedil;&atilde;o! Senhas com espa&ccedil;os em branco n&atilde;o ser&atilde;o cadastradas corretamente.</small>
                                </div>
                                <mat-form-field>
                                    <input matInput [(ngModel)]="user.password" name="password" (keyup)="checkPasswords()" #password="ngModel" placeholder="Nova senha" [type]="hide_password ? 'password' : 'text'" required>
                                    <img matSuffix (mousedown)="hide_password = false" (mouseup)="hide_password = true" src="./assets/images/ic_eye_{{hide_password ? 'off' : 'on'}}.svg" class="cursor pointer">
                                    <!-- <span class="validate-error left" *ngIf="validate.password != null">
                                        <ul><li repeat.for="error of validate.password">- ${error.message}</li></ul>
                                    </span> -->
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput [(ngModel)]="user.password_confirmation" name="passwordConfirmation" (keyup)="checkPasswords()" #passwordConfirmation="ngModel" placeholder="Confirmar nova senha" [type]="hide_password_confirm ? 'password' : 'text'" required>
                                    <img matSuffix (mousedown)="hide_password_confirm = false" (mouseup)="hide_password_confirm = true" src="./assets/images/ic_eye_{{hide_password_confirm ? 'off' : 'on'}}.svg" class="cursor pointer">
                                </mat-form-field>
                            </div>
                            <div class="row" *ngIf="!password_confirmation">
                                <div class="col s12 m12 l12 red-text text-darken-1">
                                    As senhas informadas n&atilde;o s&atilde;o iguais
                                </div>
                            </div>
                            <div class="row" *ngIf="solicitated&&response">
                                <div class="col s12 m12 l12">
                                    <div class="card-panel white-text text-darken-1 blue lighten-1 flow-text text-center">
                                        Senha alterada com sucesso!
                                        <small>Uma vez utilizado, o link se torna inv&aacute;lido, para resetar a senha novamente &eacute; necess&aacute;rio uma nova solicita&ccedil;&atilde;o.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <div class="row">
                        <div class="col s12 m12 l6">
                            <button mat-raised-button class="left" (click)="cancel()">Cancelar</button>
                        </div>
                        <div class="col s12 m12 l6">
                            <img src="./assets/images/ic_loader.gif" alt="Carregando..." class="reset-loading" *ngIf="loading">
                            <button mat-raised-button [disabled]="passwordResetForm.form.invalid||!password_confirmation" class="right" color="primary" (click)="send()">Alterar</button>
                        </div>
                    </div>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
</div>
