<div class="row">
        <div class="col s12 m12 l6 center">
            <span class="flow-text">A</span>
        </div>
        <div class="col s12 m12 l6 center">
            <span class="flow-text">B</span>
        </div>
    </div>
<div *ngFor="let item of [1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5]">
    <div class="row">
        <div class="col s12 m12 l6 white-text center" class="card-panel blue darken-{{item}}">
            <span class="flow-text">{{item}}</span>
        </div>
        <div class="col s12 m12 l6 white-text center" class="card-panel green darken-{{item}}">
            <span class="flow-text">{{item}}</span>
        </div>
    </div>
</div>
